<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="boardDate" column="BOARD_DATE"/>
		<result property="boardReDate" column="BOARD_REDATE"/>
		<result property="boardContents" column="BOARD_CONTENTS"/>
		<result property="boardCount" column="BOARD_COUNT"/>
		<result property="boardLike" column="BOARD_LIKE"/>
		<result property="boardReport" column="BOARD_REPORT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
	</resultMap>
	
	<resultMap type="Comment" id="commentResultMap">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="commentParentsno" column="COMMENT_PARENTSNO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="commentContents" column="COMMENT_CONTENTS"/>
		<result property="commentDate" column="COMMENT_DATE"/>
		<result property="commentRedate" column="COMMENT_REDATE"/>
		<result property="commentStatus" column="COMMENT_STATUS"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL WHERE BOARD_STATUS = 'Y'
	</select>
	
	<select id="selectBoardOneById" resultMap="boardResultMap">
  		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo }
  	</select>
  	
	<select id="selectBoardAllList" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_STATUS = 'Y' ORDER BY BOARD_NO DESC
	</select>
	
	
	<insert id="insertBoard" parameterType="Board">
<!-- 		INSERT INTO BOARD_TBL (BOARD_NO, BOARD_TYPE, BOARD_TITLE, MEMBER_NICKNAME, BOARD_CONTENTS) -->
<!-- 		VALUES(BOARD_SEQ_NO.NEXTVAL, #{boardType}, #{boardTitle}, '어쩔티비', #{boardContents}) -->
		INSERT INTO BOARD_TBL VALUES(BOARD_SEQ_NO.NEXTVAL, #{boardType}, #{boardTitle}, '어쩔티비', DEFAULT, DEFAULT,
		 #{boardContents}, 0, 0, 0, DEFAULT)

	</insert>
	
	<!-- 추천 수 -->
	<insert id="insertBoardLike" parameterType="org.kh.meme.board.domain.Recommend">
		MERGE INTO RECOMMEND_TBL USING DUAL ON (BOARD_NO = #{boardNo} AND RECOMMEND_ID = #{recommendId})
		WHEN NOT MATCHED THEN INSERT VALUES( #{boardNo}, #{recommendId})
	</insert>

	<update id="updateBoardLike" parameterType="org.kh.meme.board.domain.Recommend">
		UPDATE BOARD_TBL SET BOARD_LIKE = (SELECT COUNT(*) FROM RECOMMEND_TBL WHERE RECOMMEND_TBL.BOARD_NO = BOARD_TBL.BOARD_NO)
	</update>
	
	
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
</mapper>
