<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias type="org.kh.meme.board.domain.Board" alias="Board"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/meme-mapper.xml"/>
		<mapper resource="mappers/quiz-mapper.xml"/>
		<mapper resource="mappers/timeline-mapper.xml"/>
		<mapper resource="mappers/rank-mapper.xml"/>
	</mappers>
</configuration>